<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>276384733957-vq1boka0q3k9ecaubv4nr9c1sj1qldl8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276384733957-vq1boka0q3k9ecaubv4nr9c1sj1qldl8</string>
	<key>API_KEY</key>
	<string>AIzaSyBCv2s2WN8CQiw_YM2i5kUApH9y1FvwYdU</string>
	<key>GCM_SENDER_ID</key>
	<string>276384733957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EZGG.WITConnectV3</string>
	<key>PROJECT_ID</key>
	<string>witconnect-d6bce</string>
	<key>STORAGE_BUCKET</key>
	<string>witconnect-d6bce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276384733957:ios:75df6ea6b68a11c0</string>
	<key>DATABASE_URL</key>
	<string>https://witconnect-d6bce.firebaseio.com</string>
</dict>
</plist>